body
{

    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;

}

a
{

    text-decoration: none;

}

.container
{

	background-color: #ced9ea;
    border: solid 1px skyblue;
    border-radius:10px;
    width: 250px;
    height: 343px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: left;
    font-family: Tahoma;


}

.containerRegister
{

	background-color: #ced9ea;
    border: solid 1px skyblue;
    border-radius:10px;
    width: 250px;
    height: 520px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: left;
    font-family: Tahoma;


}

#form
{
	
	margin-top: 0px;
	text-align: center;

}
.status
{
	margin-top: -10px;
	margin-bottom: 7px;
	font-size: 12px;
	text-align: center;
	color: red;

}

#input
{
	margin-top: 7px;
	margin-bottom: 15px;
	border: solid 3px white;
    border-radius: 12px;
    background-color: skyblue;
    height: 27px;
    font-size: 18px;
    opacity: 0.6;


}

#button
{

	margin-top: 20px;
	border: solid 3px white;
    border-radius: 5px;
    background-color: skyblue;
    height: 27px;
    font-size: 12px;
    opacity: 0.6;

}

#link
{
	margin-top: 10px;
	font-size: 12px;
	position: relative;

}

#txt
{



}