body
{

    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;

}

a
{

    text-decoration: none;

}

#menuButtons
{

   display: flex;

}

.container
{

    background-color: #ced9ea;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d0b8b6' fill-opacity='0.56' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    border: solid 1px skyblue;
    border-radius:10px;
    width: 550px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: left;
    font-family: Tahoma;

}

.status
{

	color: blue;
	margin-left: 400px;
    font-family: Arial;

}

.statusTraining
{

    color: red;

}

.status p
{

	display: inline-flex;
	color: blue;

}

.up 
{

	text-align: center;
	color: #5996ba;
    font-weight: bolder;

}

#logout
{
    margin-top: -15px;
    margin-left: 5px; 
    margin-bottom: 16px;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.6;

}

#stoper
{

    margin-left: 5px; 
    margin-top: -17px;
    margin-bottom: 15px;
    display: inline-flex;
    cursor: pointer;
    opacity: 0.8;

}

#stoper:hover
{

    opacity: 1;

}

#search
{

    margin-left: 20px;
    cursor: pointer;
    opacity: 0.8;

}

#search:hover
{

    opacity: 1;

}

#dict
{

    margin-left: 350px;
    margin-top: -15px;
    margin-bottom: 16px;
    cursor: pointer;
    opacity: 0.8;

}

#dict:hover
{

    opacity: 1;

}

#logout:hover
{

    opacity: 0.8;
    transition: opacity 2s linear;

}

#search
{

     display: inline-flex;

}

#nav1
{
    
    clear: both;
	float: left;
	margin-top: 190px;
	border: solid 1px skyblue;
    border-radius: 1px;
    background-color: skyblue;
    opacity: 0.4;

}

#nav1:hover
{

    opacity: 0.7;
    cursor: pointer;

}

#nav2
{
	clear: both;
	float: right;
	margin-left: 495px;
	margin-top: -260px;
	border: solid 1px skyblue;
    border-radius: 1px;
    background-color: skyblue;
    opacity: 0.4;
	
}

#nav2:hover
{

    opacity: 0.7;
    cursor: pointer;

}

.content
{   
    margin-top: 10px;
    width: 450px;
    height: 440px;
    float: left;
    text-align: center;
    font-size: 17px;

}

.wordsBorder
{

	margin-top: -9px;
    margin-left: 25px;
    text-align: center;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    color: black;
    text-align: 10px;
    background-color: #abb9ce;

}

.wordsBorder:hover
{

    margin-top: -15px;
    border-color: red;
    background-color: #566484;
    font-size: 25px;
    color: #ced9ea;

}

.textBorder
{

   line-height: 45px;
   cursor: pointer;

}

.link_index
{

    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.inputDb
{

	clear: both;
	text-align: center;
	margin-left: 10px;	
	font-family: arial;
	font-size: 12px;
	color: red;

}

#statusNumber
{
    
    margin-top: 50px;
    margin-bottom: -85px;

}

#stat_good
{

    color: green;
    margin-right: 110px;
    font-size: 35px;
    font-weight: bold;

}

#stat_bad
{

    color: red;
    font-size: 35px;
    font-weight: bold;

}

#contentTraining
{

    margin-left: 100px;

}
#answer
{
    
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 2px;

}

#goodImg
{

    display: inline-block;
    margin-right: 55px;
    
    
}

#badImg
{

    display: inline-block;
    

}

#inputTranslate
{

    border: solid 3px white;
    border-radius: 12px;
    background-color: skyblue;
    height: 37px;
    font-size: 18px;
    opacity: 0.6;

}

#advice
{

    color: red;
    height: 37px;

}

#advice_msg
{

    margin-top: 10px;
    color: red;

}

#button
{

    border: solid 3px white;
    border-radius: 12px;
    background-color: skyblue;
    height: 37px;
    opacity: 0.6;
}

#inputDbWord
{

    margin-top: 15px;
    margin-bottom: 7px;
	border: solid 1px navy;
    border-radius: 3px;
    background-color: skyblue;
    height: 30px;

}

#searchContent
{
    margin-top: 50px;
    margin-left: 100px;

}
#search-results
{

    margin-right: 50px;

}

.footer
{

	text-align: center;
    font-family: 'Indie Flower', cursive;

}